html {
	color: #777777;
	background-image: url("../images/seigaiha.png");
}

header {
	background-color: #ffffff;
	overflow: auto;
	clear: both;
	width: 100%;
	border-style: solid;
	border-bottom-width: 2px;
	border-color: #cccccc;
	text-align: center;
	line-height: 70px;
	font-family: Georgia;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

section {
	float: left;
	background-color: #ffffff;
	width: 650px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	margin: 30px 0;
	overflow: hidden;
}

aside {
	float: right;
	background-color: #ffffff;
	width: 270px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	margin: 30px 0px;
}

footer {
	background-color: #666666;
	clear: both;
	width: 100%;
	border-style: solid;
	border-color: #4aaaa5;
	border-top-width: 6px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.full-width {
	width: 960px;
	margin: auto;
}

.content-header {
	font-size: 22px;
	color: #4aaaa5;
	font-weight: bold;
	font-family: Georgia;
	margin: 0 20px;
	padding: 25px 0;
	border-style: solid;
	border-bottom-width: 2px;
	border-color: #cccccc;
}

.content-container {
	margin: 20px;
	line-height: 1.5;
}

.sidebar-header {
	font-size: 18px;
	color: #4aaaa5;
	font-weight: bold;
	font-family: Georgia;
	margin: 0 15px;
	padding: 15px 0;
	border-style: solid;
	border-bottom-width: 1px;
	border-color: #cccccc;
}

.sidebar-container {
	margin: 15px;
	overflow: auto;
}

.contact-img {
	width: 33.33%;
	float: left;
}

#header-name {
	float: left;
	position: relative;
	height: 70px;
	width: 200px;
	color: #ffffff;
	background-color: #4aaaa5;
	font-size: 24px;
	font-weight: bold;
}

#nav-bar {
	float: right;
	position: relative;
	text-align: center;
	font-size: 15px;
}

#headshot {
	height: 172px;
	width: 259px;
	margin: 5px 20px 0px 0;
	float: left;
}

#copyright {
	text-align: center;
	font-size: 10px;
	line-height: 70px;
	color: #cccccc;
}