body {
	color: #777777;
	margin:0;
	background-image: url("../images/seigaiha.png");
}

header {
	background-color: #ffffff;
	border-style: solid;
	border-color: #cccccc;
	border-width: 0;
	border-bottom-width: 3px;
}

#headerName {
	float: left;
	position: relative;
	right: -10%;
	padding: 20px 40px;
	margin: 0;
	background-color: #4aaaa5;
	text-align: center;
	color: #ffffff;
}

#headerNav {
	float:left;
	position: relative;
	right: -40%;
	padding: 27px 40px;
	margin: 0;
	text-align: center;
}

.navLink {
	padding-left: 10px;
	padding-right: 10px;
	color: #777777;
	font-size: 20px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}